@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800&display=swap");
:root {
    --montserrat: "Montserrat", sans-serif;
    --raleway: "Raleway", sans-serif;
    --halkablack: #efefef;
    --pblack: 949494;
    --orange: #ff9b1a;
    --transition: all 0.3s ease-in-out;
}
.top-header {
    font-family: var(--montserrat);
    padding: 15px 0px;
    background: var(--halkablack);
}
.top-header p {
    font-size: 12px;
    font-weight: 400;
    color: var(--pblack);
}
.top-header p:hover {
    color: var(--orange);
}
.top {
}
.top ul {
}
.top ul li {
}
.top ul li a {
    font-size: 12px;
    color: var(--pblack);
    text-decoration: none;
    padding: 5px 20px;
}
.top ul li a:hover {
    color: var(--orange);
}
.navbar {
    padding: 40px 0px;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--pblack);
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 15px;
    font-family: var(--montserrat);
    transition: all 0.3s ease-in-out 0s;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
    background: var(--orange);
    padding: 5px 20px;
    border-radius: 30px;
}
.btn-custom {
    background: var(--orange);
    border-radius: 30px;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--montserrat);
    color: rgb(255, 255, 255) !important;
}
.btn-custom:hover {
    border: 2px solid;
    color: var(--orange) !important;
    background: rgb(255, 255, 255) !important;
}
.dropdown-item:hover {
    background: var(--orange);
}
.header-section {
    font-family: var(--raleway);
    position: relative;
    z-index: 1;
    display: none;
}
.overlay {
    background: rgba(10, 11, 12, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.header-section .container {
    position: absolute;
    top: 28%;
    left: 28%;
}
.header h1 {
    font-size: 52px;
    color: var(--halkablack);
}
.header ul {
}
.header ul li {
}
.header ul li h4 {
    color: var(--halkablack);
    font-size: 20px;
}
.header ul li span {
    color: var(--halkablack);
    font-size: 14px;
}
.btn-custom-revers {
    color: var(--halkablack);
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 30px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--montserrat);
}
.btn-custom-revers:hover {
    color: rgb(255, 255, 255);
    background: var(--orange);
}
.payment-section {
    padding: 80px 0px;
}
.payment {
    text-align: center;
    border: 2px solid rgb(225, 225, 225);
    min-height: 285px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 20px 0px;
}
.payment::after {
    content: "";
    position: absolute;
    background: url("../images/bitcoin.png") 0% 0% / cover;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -2;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
    transform: scale(0.5);
}
.payment:hover::after {
    opacity: 0.9;
    transform: scale(1);
}
.payment::before {
    content: "";
    position: absolute;
    background: linear-gradient(rgb(219, 176, 3), rgb(254, 113, 2));
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
    transform: scale(0.5);
}
.payment:hover::before {
    opacity: 0.9;
    transform: scale(1);
}
.payment img {
    transition: all 0.3s ease-in-out 0s;
}
.payment:hover img {
    filter: sepia(1);
}
.payment h4 {
    font-size: 17px;
    margin: 10px 0px;
    transition: all 0.3s ease-in-out 0s;
}
.payment:hover h4 {
    color: var(--halkablack) !important;
}
.payment p {
    font-size: 14px;
    width: 350px;
    margin: auto auto 45px;
    transition: all 0.3s ease-in-out 0s;
}
.payment:hover p {
    color: rgb(255, 255, 255) !important;
}
.provide-section {
    padding: 80px 0px;
}
.provide {
    position: relative;
    font-family: var(--montserrat);
    text-align: center;
}
.provide h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
.provide p {
    font-size: 14px;
    width: 350px;
    margin: auto;
    padding: 15px 0px;
}
.provide::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: orange;
}
.provide-img {
    padding: 100px 0px;
    text-align: center;
    font-family: var(--raleway);
}
.provide-img img {
}
.provide-img h4 {
    text-transform: capitalize;
    margin: 15px 0px;
    font-size: 22px;
}
.provide-img p {
    font-size: 14px;
    width: 380px;
    margin: auto;
}
.btn-custom1 {
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 30px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--montserrat);
}
.btn-custom1:hover {
    color: rgb(255, 255, 255) !important;
    background: var(--orange) !important;
}
.mobile-section {
    background: url("../images/banner2.jpg") 0% 0% / cover;
    position: relative;
    margin-top: 80px;
    padding-top: 80px;
    
}
.mobile-section:hover .mobile:hover::after {
    width: 100px;
}
.mobile-img {
    position: relative;
    padding-top: 30px;
}
.mobile-img .logoo {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50px, 35px);
    text-align: center;
}
.mobile {
    position: relative;
}
.mobile h2 {
    font-size: 24px;
    color: var(--halkablack);
}
.mobile::after {
    content: "";
    background: var(--orange);
    width: 50px;
    height: 2px;
    display: block;
    margin-top: 15px;
}
.moni {
}
.moni span {
    width: 70px;
    height: 70px;
    display: block;
    border: 2px solid var(--orange);
    border-radius: 10px;
    transform: rotate(45deg);
    animation: 10s ease-in-out 0s infinite alternate none running ghurbe;
}
@keyframes ghurbe {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(445deg);
    }
}
.moni h4 {
    font-size: 18px;
}
.moni p {
    font-size: 14px;
    width: 550px;
}
.moni {
    color: var(--halkablack);
    margin-top: 40px;
    position: relative;
}
.transaction-section {
    background: var(--orange);
    padding: 80px 0px;
    text-align: center;
}
.transaction-section h2 {
    font-size: 50px;
    font-family: var(--montserrat);
    color: var(--halkablack);
    font-weight: 700;
}
.transaction-section span {
    color: var(--halkablack);
    font-size: 18px;
    text-transform: uppercase;
}
.spider-section {
}
.spider {
    margin: 90px 0px;
    position: relative;
    text-align: center;
    padding: 70px;
}
.spider img {
}
.lock {
    text-align: center;
    position: absolute;
}
.lock span {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.lock.red span {
    color: rgb(240, 81, 84);
}
.lock.blue span {
    color: rgb(99, 205, 104);
}
.lock.green span {
    color: rgb(121, 211, 215);
}
.lock span ::after {
    content: "";
    border: 2px solid var(--orange);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 5px;
    animation: 10s ease-in-out 0s infinite alternate none running ghurbe;
}
@keyframes ghurbe {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(445deg);
    }
}
.lock span i {
}
.lock strong {
    font-size: 18px;
    font-family: var(--montserrat);
    color: rgb(37, 37, 37);
    display: block;
    margin-top: 20px;
}
.left {
    left: 0px;
}
.left-asha {
    left: -50px;
}
.left-in {
    left: 10px;
}
.right {
    right: 0px;
}
.right-asha {
    right: -50px;
}
.right-out {
    right: 10px;
}
.top {
    top: 0px;
}
.middle {
    top: 50%;
    transform: translateY(-50%);
}
.bottom {
    bottom: 0px;
}
.team-section {
    padding: 80px 0px;
}
.team {
    position: relative;
    text-align: center;
}
.team h2 {
    font-size: 22px;
    text-transform: uppercase;
}
.team p {
    font-size: 14px;
    width: 460px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 18px;
}
.team::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: orange;
}
.man {
    text-align: center;
    padding: 50px 0px;
}
.man img {
}
.man h3 {
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
}
.man span {
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(251, 160, 87);
}
.free-section {
    padding: 80px 0px;
    background: url("../images/banner3.jpg") 0% 0% / cover;
    position: relative;
    z-index: 1;
}
.free {
    position: relative;
    text-align: center;
}
.free h2 {
    color: var(--halkablack);
}
.free::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: orange;
    margin: 15px 0px;
}
.form {
    position: relative;
    margin-top: 50px;
}
.form-control {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255) !important;
}
.form-control:focus {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    outline: 0px;
    box-shadow: rgba(13, 110, 253, 0) 0px 0px 0px 0px;
}
input[type="submit"] {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}
.blog-section {
    padding: 80px 0px;
}
.blog {
    position: relative;
    text-align: center;
}
.blog h2 {
    font-size: 20px;
    text-transform: uppercase;
}
.blog p {
    font-size: 14px;
    width: 470px;
    margin: auto;
}
.blog::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: orange;
    margin: 15px 0px;
}
.asha-section {
    padding: 80px 0px;
}
.asha {
    border-radius: 10px;
}
.asha .card-body {
    padding-top: 5px;
}
.asha img {
}
.asha ul {
    margin-bottom: 20px;
    margin-top: -10px;
    align-items: center;
}
.asha ul li {
}
.asha ul li a {
    color: rgb(43, 43, 43);
    text-decoration: none;
}
.asha ul li strong {
    background: rgb(242, 108, 79);
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    transform: translateY(-20px);
}
.asha ul li span {
    font-size: 12px;
    font-family: var(--montserrat);
}
.asha h3 {
    font-size: 16px;
}
.asha p {
    font-size: 14px;
}
.feedback-section {
    padding: 20px 0px;
}
.feedback {
}
.feedback h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    position: relative;
    color: rgb(51, 51, 51);
}
.feedback h2::after {
    content: "";
    background: var(--orange);
    display: block;
    width: 50px;
    height: 2px;
    margin: 15px auto auto;
}
.feedback p {
    width: 650px;
    margin: auto auto 30px;
    font-size: 16px;
    color: rgb(51, 51, 51) !important;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: rgb(43, 41, 41);
    text-align: center;
}
.carousel-item {
    min-height: 400px;
}
.client-img {
    position: relative;
}
.client-img img {
}
.client-img i {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 12px;
    background: var(--orange);
    line-height: 40px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    transform: translateX(-22px);
}
.feedback-section h5 {
    font-size: 16px;
    margin: 10px 0px;
}
.feedback-section p {
    font-size: 14px;
    color: var(--orange);
}
.carousel-control-prev-icon {
    background-image: url("");
    color: rgb(51, 51, 51);
}
.carousel-control-next-icon {
    background-image: url("");
    color: rgb(51, 51, 51);
}
.link-section {
    padding: 80px 0px;
    background: rgb(51, 51, 51);
}
.link {
}
.link p {
    font-size: 15px;
    color: var(--halkablack);
    margin: 25px 0px;
}
.link ul {
}
.link ul li {
}
.link ul li a {
    font-size: 24px;
    color: var(--halkablack);
    border: 2px solid;
    border-radius: 50px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0px 10px;
    line-height: 50px;
    transition: all 0.3s ease-in-out;
}
.link ul li a:hover {
    color: #0a58ca !important;
}
.link1 {
    color: var(--halkablack);
}
.link1 h4 {
    text-transform: uppercase;
    font-weight: 700;
}
.span1 {
    display: block;
    width: 50px;
    height: 2px;
    background: var(--orange);
}
.link1 ul {
}
.link1 ul li {
    margin: 15px 0px;
}
.link1 ul li i {
    margin-right: 15px;
    font-size: 20px;
    margin-top: 10px;
}
.link1 ul li span {
    font-size: 15px;
}
.link1 ul li a {
    color: var(--halkablack);
    text-decoration: none;
    font-size: 15px;
     transition: .3s ease-in-out;
}
}
.link1 ul li a:hover {
    text-decoration: none;
    color: #0a58ca !important;
}
.link1 p {
    font-size: 14px;
    margin: 40px 0px;
    width: 240px;
}
.link1 form {
}
.link1 form input {
    border-radius: 30px;
    padding: 10px 15px;
}
.link1 form button {
    background: var(--orange);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transform: translateX(-50px);
    font-size: 20px;
}
.footer-section {
    background: black;
    padding: 30px;
}
.footer {
}
.footer p {
    color: var(--halkablack);
}
.footer1 ul {
}
.footer1 ul li {
}
.footer1 ul li a {
    color: var(--halkablack);
    text-decoration: none;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 14px;
    transition: .3s ease-in-out;
}
.footer1 ul li a:hover {
    color: #0075ff;
    text-decoration: none;
}
.footer1 {
}
